* {
  box-sizing: border-box;
  /* untuk menjaga konten agar tak keluar layar */
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
    /* float: right;  jika ingin dimulai dari kanan*/
    float: left;  /*jika ingin dimulai dari kiri */
    padding: 15px;
}

html {
  /* font-family: Arial, Helvetica, "sans-serif"; */
  font-family: "Times New Roman", sans-serif;
}
/* for Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* CSS untuk mengatur coloumn dengan jumlah total 12 colom dan skala 100% */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

a {
  color: black;
}

a:hover {
  color: #139849;
}

a:link {
  color: black;
}

a:active {
  color: black;
}

body {
  display: inline;
}

.container {
  width: 100%;
  background-color: #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
}

.skill{
  text-align: right;
  vertical-align: middle;
  padding: 4px;
  color: white;
}
.html {width: 90%; background-color: #2196F3;}
.css  {width: 70%; background-color: #2196F3;}
.krita {width: 70%; background-color: #2196F3;}
.inkscape {width: 70%; background-color: #2196F3;}
.synfig {width: 75%; background-color: #2196F3;}
.kdenlive {width: 72%; background-color: #2196F3;}
.libreoffice {width: 73%; background-color: #2196F3;}

#profil {
  background-color: #ffffff;
  padding:  20px 10px;
  color: #00688E;
  text-align: center;
}

h2 {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

h3,h4,h5 {
  text-decoration: none;
  text-transform: uppercase;
  align: left;
  padding: 0px;
  margin-bottom: 15px;
}

img {
  /* untuk membuat oval pada gambar */
  border-radius: 50%;
  /* display: block; */
  margin: auto;
  width: 70%;
  max-width: 200px;
}
.avatar{
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2196F3;
  border-radius: 50%;
  margin: auto;
}

div.avatar:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* perlu penjelasan */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* perlu penjelasan */
  text-align: center;
}

.mytable{
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

iframe {
  display: block;
  width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  table-layout: initial;
}

th {
  background-color: #2196F3;
}

td {
  padding: 5px 10px;
}

tr {
  max-height: 5px;
}

tr:nth-child(odd) {
  background-color: #8FDAF5;
}
/*
tr:hover {
  background-color: #D4EFDF ;
} */

/* begin menu scroll */
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
/* end of menu */
